{{#partial "content"}}
    <<div class="container m-5 p-5 d-flex justify-content-center">
        <div class="justify-content-center">
            <h2 class=" text-success">{{startUp.name}}'s Record has been created</h2>
        </div>
        <div class="container p-5 m-5 d-flex justify-content-between" style="color:rgb(42,74,74)!important;">
            <h1>MENTEES</h1>


            <div class="card me-2" style="width: 18rem;color:rgb(42,74,74) !important;">
                <div class="card-body">
                    <h5 class="card-title">Name: {{startUp.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">StartUp: {{startUp.name_of_startup}}</h6>
                    <p class="card-text"> Category: {{startUp.category}}</p>
                    <p class="card-text">Capital: Kshs {{startUp.capital_needed}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="justify-content-center">
        <a href="/all-mentees"><button class="btn btn-info">Check All Start-ups</button></a>
        <br><br><br>
    </div>
{{/partial}}
{{> layout.hbs}}